http:
  routers:
    lz-http-forward:
      entryPoints: [web]
      rule: >-
        HostRegexp(`^([a-z0-9-]+\.)*levizitting\.com$`)
        && !Host({{ headscale_hostname | to_json }})
        && !Host({{ uptime_kuma_hostname | to_json }})
        && !Host(`levizitting.com`)
      priority: 100
      service: lz-ingress
    sgfdevs-http-forward:
      entryPoints: [web]
      rule: >-
        HostRegexp(`^([a-z0-9-]+\.)*sgf\.dev$`)
        || HostRegexp(`^([a-z0-9-]+\.)*methodconf\.com$`)
        || HostRegexp(`^([a-z0-9-]+\.)*hack4goodsgf\.com$`)
      priority: 100
      service: sgfdevs-ingress
    headscale:
      rule: {{ ('Host(' ~ (headscale_hostname | to_json) ~ ')') | to_json }}
      priority: 10
      entryPoints:
        - websecure
      service: headscale
      middlewares:
        - strip-true-client-ip
      tls:
        certResolver: letsencrypt
    headplane:
      rule: {{ ('Host(' ~ (headscale_hostname | to_json) ~ ') && (Path(`/admin`) || PathPrefix(`/admin/`))') | to_json }}
      priority: 100
      entryPoints:
        - websecure
      service: headplane
      tls:
        certResolver: letsencrypt
    uptime-kuma:
      rule: {{ ('Host(' ~ (uptime_kuma_hostname | to_json) ~ ')') | to_json }}
      entryPoints:
        - websecure
      service: uptime-kuma
      tls:
        certResolver: letsencrypt

  middlewares:
    strip-true-client-ip:
      headers:
        customRequestHeaders:
          True-Client-IP: ""

  services:
    lz-ingress:
      loadBalancer:
        passHostHeader: true
        servers:
          - url: http://lz-k3s.levizitting.com:80
    sgfdevs-ingress:
      loadBalancer:
        passHostHeader: true
        servers:
          - url: http://sgfdevs-k3s.levizitting.com:80
    headscale:
      loadBalancer:
        servers:
          - url: http://headscale:8080
    headplane:
      loadBalancer:
        servers:
          - url: http://headplane:3000
    uptime-kuma:
      loadBalancer:
        servers:
          - url: http://uptime-kuma:3001

tcp:
  routers:
    lz-https-passthrough:
      entryPoints: [websecure]
      rule: >-
        HostSNIRegexp(`^([a-z0-9-]+\.)*levizitting\.com$`)
        && !HostSNI({{ headscale_hostname | to_json }})
        && !HostSNI({{ uptime_kuma_hostname | to_json }})
        && !HostSNI(`levizitting.com`)
      service: lz-ingress
      tls:
        passthrough: true
    sgfdevs-https-passthrough:
      entryPoints: [websecure]
      rule: >-
        HostSNIRegexp(`^([a-z0-9-]+\.)*sgf\.dev$`)
        || HostSNIRegexp(`^([a-z0-9-]+\.)*methodconf\.com$`)
        || HostSNIRegexp(`^([a-z0-9-]+\.)*hack4goodsgf\.com$`)
      service: sgfdevs-ingress
      tls:
        passthrough: true
  services:
    lz-ingress:
      loadBalancer:
        servers:
          - address: lz-k3s.levizitting.com:443
    sgfdevs-ingress:
      loadBalancer:
        servers:
          - address: sgfdevs-k3s.levizitting.com:443
