server:
  host: 0.0.0.0
  port: 3000
  base_url: {{ ('https://' ~ headscale_hostname) | to_json }}
  cookie_secret_path: /run/secrets/headplane/cookie_secret
  cookie_secure: true
  data_path: /var/lib/headplane

headscale:
  url: http://headscale:8080
  public_url: {{ ('https://' ~ headscale_hostname) | to_json }}
  config_path: /etc/headscale/config.yaml
  config_strict: false
