apiVersion: v1
kind: Secret
metadata:
  name: external-secrets-aws-creds
  namespace: external-secrets
type: Opaque
stringData:
  access_key_id: "{{ flux_access_key_id }}"
  secret_access_key: "{{ flux_secret_access_key }}"
