apiVersion: v1
kind: Secret
metadata:
  name: headscale-runtime
  namespace: headscale
type: Opaque
stringData:
  HEADSCALE_SERVER_URL: "https://{{ headscale_hostname }}"
  HEADSCALE_DERP_IPV4: "{{ public_ipv4 }}"
  HEADSCALE_DERP_IPV6: "{{ public_ipv6 }}"
